button.st-emotion-cache-1bugxxb {
    padding: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: center;
}

.st-emotion-cache-ocqkz7 {
    text-align: center;
}

